.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-group .custom-control-label::before {
  width: 1.3rem;
  height: 1.3rem;
  border: 2px solid #007bff;
  /* Border color for the unselected state */
  border-radius: 50%;
}

.radio-group .custom-control-input:checked~.custom-control-label::before {
  background-color: #007bff;
  /* Background color for the selected state */
  border: none;
  /* Remove border in the selected state */
}

.radio-group .custom-control-label::after {
  content: '';
  width: 0.6rem;
  height: 0.6rem;
  background-color: white;
  /* Color for the radio dot */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  display: none;
}

.radio-group .custom-control-input:checked~.custom-control-label::after {
  display: block;
  /* Show the radio dot in the selected state */
}

.progress-meter {
  padding: 0;
}

ol.progress-meter {
  padding-bottom: 9.5px;
  list-style-type: none;
}

ol.progress-meter li {
  display: inline-block;
  text-align: center;
  text-indent: -19px;
  height: 36px;
  width: 24.99%;
  font-size: 12px;
  border-bottom-width: 4px;
  border-bottom-style: solid;
}

ol.progress-meter li:before {
  position: relative;
  float: left;
  text-indent: 0;
  left: -webkit-calc(50% - 9.5px);
  left: -moz-calc(50% - 9.5px);
  left: -ms-calc(50% - 9.5px);
  left: -o-calc(50% - 9.5px);
  left: calc(50% - 9.5px);
}

ol.progress-meter li.done {
  font-size: 12px;
}

ol.progress-meter li.done:before {
  content: "\2713";
  height: 19px;
  width: 19px;
  line-height: 21.85px;
  bottom: -28.175px;
  border: none;
  border-radius: 19px;
}

ol.progress-meter li.todo {
  font-size: 12px;
}

ol.progress-meter li.todo:before {
  content: "\2B24";
  font-size: 17.1px;
  bottom: -26.95px;
  line-height: 18.05px;
}

ol.progress-meter li.done {
  color: black;
  border-bottom-color: yellowgreen;
}

ol.progress-meter li.done:before {
  color: white;
  background-color: yellowgreen;
}

ol.progress-meter li.todo {
  color: silver;
  border-bottom-color: silver;
}

ol.progress-meter li.todo:before {
  color: silver;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reservation {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
}

.reservation-info {
  font-size: 14px;
}

.week-view .calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.week-view .reservation {
  width: auto;
  grid-column: span 1;
}


.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  padding: 10px 10px;
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

.bike {
  display: block;
  margin: auto;
  width: 16em;
  height: auto;
}

.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
  animation: bikeBody 3s ease-in-out infinite;
  stroke: var(--primary);
  transition: stroke var(--trans-dur);
}

.bike__front {
  animation-name: bikeFront;
}

.bike__handlebars {
  animation-name: bikeHandlebars;
}

.bike__pedals {
  animation-name: bikePedals;
}

.bike__pedals-spin {
  animation-name: bikePedalsSpin;
}

.bike__seat {
  animation-name: bikeSeat;
}

.bike__spokes,
.bike__tire {
  stroke: currentColor;
}

.bike__spokes {
  animation-name: bikeSpokes;
}

.bike__spokes-spin {
  animation-name: bikeSpokesSpin;
}

.bike__tire {
  animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}

/* Animations */
@keyframes bikeBody {
  from {
    stroke-dashoffset: 79;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -79;
  }
}

@keyframes bikeFront {
  from {
    stroke-dashoffset: 19;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -19;
  }
}

@keyframes bikeHandlebars {
  from {
    stroke-dashoffset: 10;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -10;
  }
}

@keyframes bikePedals {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -25.133;
  }

  33%,
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -21.991;
  }

  to {
    stroke-dashoffset: -25.133;
  }
}

@keyframes bikePedalsSpin {
  from {
    transform: rotate(0.1875turn);
  }

  to {
    transform: rotate(3.1875turn);
  }
}

@keyframes bikeSeat {
  from {
    stroke-dashoffset: 5;
  }

  33%,
  67% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -5;
  }
}

@keyframes bikeSpokes {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: -31.416;
  }

  33%,
  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -23.562;
  }

  to {
    stroke-dashoffset: -31.416;
  }
}

@keyframes bikeSpokesSpin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(3turn);
  }
}

@keyframes bikeTire {
  from {
    animation-timing-function: ease-in;
    stroke-dashoffset: 56.549;
    transform: rotate(0);
  }

  33% {
    stroke-dashoffset: 0;
    transform: rotate(0.33turn);
  }

  67% {
    animation-timing-function: ease-out;
    stroke-dashoffset: 0;
    transform: rotate(0.67turn);
  }

  to {
    stroke-dashoffset: -56.549;
    transform: rotate(1turn);
  }
}

.fc .fc-col-header-cell-cushion,
.fc .fc-daygrid-day-number,
.fc-list-day-side-text,
.fc-list-day-text {
  text-decoration: none;
}

.fc-direction-ltr .fc-button-group>.fc-button,
.fc-today-button {
  text-transform: uppercase !important;
}

.fc-direction-ltr .fc-button-group>.fc-button {
  margin: 0px 10px;
  border-radius: 30px;
}

.card-header,
.modal-header,
.accordion-button {
  background: #242b55;
  color: #fff;
  font-weight: 700;
}
.accordion-button::after {
  color: #ccc;
}
.card,
.card-header,
.modal-header, 
.modal-content,
.accordion-item {
  border-radius: 16px !important;
}

.accordion-item {
  margin: 10px 0px;
}
.btn-success{
  background: #242b55;
}
.btn-success:hover{
  background: #304f53;
}
.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: transparent;
  box-shadow: none;
}
.btn-close{
  color: #fff !important;
}