$enable-negative-margins: true;

@import "~bootstrap/scss/bootstrap";

@import "layout/avatar";
@import "layout/footer";
@import "layout/header";
@import "layout/progress";
@import "layout/sidebar";

@import "~nprogress/nprogress.css";

@import "_custom.scss";
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,90%);
	--fg: hsl(var(--hue),90%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
}
body{
    zoom: 70%;
    background-image: url('/accepted-egypt-dashboard/public/assets/img/393465684_707567994740060_449291053190160838_n.jpg');
}
.full-content-wrapper{
    min-height: 142vh;
}
.fade{
    width: 100%;
    height: 100%;
}
